@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #121252 16.62%, #3a1f50 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
    border-radius: 300px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 300px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto; 
}

#produtos {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

#carrinho {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: block;
}   

.produto-single {
    width: 32%;
    margin-right: 1%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}  

.produto-single img {
    max-width: 100%;
}

.produto-single p {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.produto-single a {
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    text-align: center;
    display: block;
    padding: 4px 0;
    font-size: 18px;
    border-radius: 300px;
}

.info-single-checkout {
    border-bottom: 2px dotted;
    padding: 30px 0;

}

.conteudo-produtos {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal-produtos {
    font-family: 'Righteous', cursive;
    font-weight: 100;
    font-size: 22px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-nomes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-secundario-id {
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .produto-single{
        width: 100%;
        margin-right: 0;
    }
}

form {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #FFF2E7;
    text-shadow: 5px 5px 5px black;
}

input {
    background-color: #ECD6C4;
    height: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    color: #2F2325;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid;
}

input:hover, input:focus {
    border-color: #000066;
    box-shadow: 5px 0px 9px #FFFF00;
    background-color: #ECD6C4;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #66FFFF;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
